* {
  box-sizing: border-box;
}

a {
  text-decoration: none; /* Убираем подчеркивание */
  color: inherit; /* Устанавливаем цвет текста, наследуемый от родителя */
  font-weight: normal; /* Убираем жирность текста, если установлена */
  font-size: inherit; /* Устанавливаем размер текста, наследуемый от родителя */
  font-style: normal; /* Убираем наклонный текст (курсив), если установлен */
  background-color: transparent; /* Убираем фон, если установлен */
  border: none; /* Убираем границу */
  padding: 0; /* Убираем отступы */
  margin: 0; /* Убираем внешние отступы */
  outline: none; /* Убираем контур при фокусировке */
  display: inline; /* Устанавливаем базовое поведение для ссылок */
  cursor: pointer;
  transition: 0.3s; /* Устанавливаем курсор, наследуемый от родителя */
}

a:hover {
  color: #da3b3b;
  background-color: white;
  padding: 10px 50px;
  letter-spacing: 1px;
}

body {
  font-family: monospace;
  color: white;
  background-color: #181711;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  min-height: 100vh;
}

.header__info-container {
  position: relative;
  padding-left: 30px;
}
/* h2::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 10px;
  left: 0;
  background-color: #da3b3b;
  box-shadow: 1px 1px 40px #ff0000;
  border-radius: 10px;
} */

.header__welcome {
  text-align: right;
  margin-right: 13px;
}

h1 {
  font-size: 75px;
  line-height: 0;
}

span {
  color: #da3b3b;
}

a {
  font-size: 20px;
  padding: 10px 20px;
}

nav {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.photo {
  background-image: url(https://media.licdn.com/dms/image/v2/D4E03AQE5KmBXgPQ7EA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1720536920301?e=1730332800&v=beta&t=RK-dR2ZvsjpsoXREMFJmL5m8y7L6GfIdDtp-0BvK9nQ);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 175px;
  height: 350px;
  width: 350px;
  box-shadow: 1px 1px 1500px #da3b3b;
  border: 2px solid rgb(255, 2, 2);
  animation: scale-shadow 10s ease-in-out infinite;
}

@keyframes scale-shadow {
  0% {
    box-shadow: 1px 1px 150px #ff0000;
  }
  50% {
    box-shadow: 1px 1px 1500px #3b85da;
  }
  100% {
    box-shadow: 1px 1px 150px #ff0000;
  }
}

h2 {
  text-align: center;
  font-size: 35px;
}

.partners {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  max-width: 600px;
  margin: 0 auto;
  min-height: 150px;
}

.partners__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: #da3b3b;
}

.partners__logo {
  width: 50px;
  filter: saturate(0) brightness(1000);
}
.dell-logo {
  height: 50px;
  width: auto;
}

.subtitle {
  text-align: center;
}

.mySkills {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: row;
  max-width: 600px;
  margin: 0 auto;
  min-height: 150px;
}

.mySkills__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: #da3b3b;
}

.skills__logo {
  width: 50px;
}

.mail {
  margin: 0 auto;
  text-align: center;
}
